body {
    font-size: 14px;
    font-family: "Microsoft Jhenghei", "Microsoft YaHei", "微软雅黑", "Droid Serif", Georgia, Serif;
}

.wrap {
    width: 100%;
}

.container {
    width: 50%;
    margin: 150px auto;
}

input {
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    padding: 8px 12px;
}

.autocomplete-box {
    /* 确保提示框与输入框一样宽 */
    display: inline-block;
    position: relative;
}

.autocomplete-changes {
    position: absolute;
    z-index: 999;
}

.autocomplete-changes ul {
    margin: 0;
    padding: 0;
    border: 1px black solid;
    border-radius: 3px;
    margin-top: 2px;
    width: 90%;
}

.autocomplete-changes ul li {
    list-style: none;
}

.autocomplete-changes ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 5px 10px;
}

.autocomplete-changes ul li + li > a {
    border-top: 1px solid #c0c0c0;
}

.autocomplete-changes ul li:nth-child(2n){
    background: #CCCCCC;
}
